# Flutter/Dart
.dart_tool/
.packages
.pub/
build/
flutter_*.png
symlinks/
generated_plugin_registrant.dart

# Visual Studio Code
.vscode/
.settings/

# IntelliJ / Android Studio
.idea/
*.iml
*.ipr
*.iws
*.flutter-plugins
*.flutter-plugins-dependencies
*.metadata

# Android
android/.gradle/
android/app/debug.keystore
android/app/*.keystore
android/local.properties
android/app/build/
android/build/
**/android/gradle-wrapper.jar

# iOS
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/Generated.xcconfig
ios/Flutter/ephemeral/
ios/Runner/GeneratedPluginRegistrant.*
ios/build/
ios/Runner.xcworkspace/
ios/Podfile.lock

# macOS
macos/Flutter/ephemeral/
macos/Pods/
macos/Build/
macos/Flutter/GeneratedPluginRegistrant.*

# Windows
windows/Flutter/ephemeral/
windows/flutter/ephemeral/
windows/flutter/Debug/
windows/flutter/Release/
windows/CMakeFiles/

# Linux
linux/flutter/ephemeral/
linux/flutter/Debug/
linux/flutter/Release/
linux/CMakeFiles/

# Web
web/.dart_tool/
web/build/

# Coverage
coverage/

# Misc
*.log
pubspec.lock
